<section>
    <h1>Dit is jouw shirt!</h1>
    <span>Jouw gekozen tekst:{{text}}</span>
    <span>Jouw gekozen afbeelding: <img src="/images/{{image}}.png" alt="{{image}}"></span>
    <img src="/images/{{color}}.png" alt="een {{color}} shirt">
</section>